body
{
	font-family: Arial;
}

#container
{
	margin-top: 300px;
}

header
{
	margin-top: 50px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

a:hover, a:visited, a:link, a:active
{
    color: grey;
    text-decoration: none;
}